.u-backlink.u-clearfix.u-grey-80 {
	display: none;
}
 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 689px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 43px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 488px;
  height: 383px;
  margin: -255px 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: -85px auto 0 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 1.875rem;
  transition-duration: 0.5s;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 43px auto 60px 0;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 100px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 100px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 210px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 210px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 300px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 300px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 400px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 267px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 31px;
    margin-left: 400px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 399px;
    margin-left: auto;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 430px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 25px 103px 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 12px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 245px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  background-image: none;
  font-size: 6rem;
  margin: 31px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  background-image: none;
  font-size: 6rem;
  margin: 31px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  background-image: none;
  font-size: 6rem;
  margin: 31px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 500;
  margin: 20px auto 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 3rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1087px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 71px auto 0 0;
}

.u-section-3 .u-image-1 {
  width: 657px;
  height: 441px;
  margin: 67px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 453px;
  height: 788px;
  margin: -441px 0 0 auto;
}

.u-section-3 .u-image-3 {
  width: 657px;
  height: 317px;
  margin: -317px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-2 {
    height: 787px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -316px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 362px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -362px;
  }

  .u-section-3 .u-image-3 {
    width: 540px;
    height: 261px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 228px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 591px;
    margin-top: -228px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 164px;
    margin-top: -120px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 750px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 39px auto 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: 43px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 236px;
}

.u-section-4 .u-container-layout-1 {
  padding: 9px 30px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 25px auto 0 304px;
}

.u-section-4 .u-image-1 {
  width: 127px;
  height: 127px;
  background-image: url("images/eric2-1.jpg");
  background-position: 50% 50%;
  margin: -41px auto 0 0;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: -127px auto 0 147px;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 0 0 147px;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 46px 30px 0 177px;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -148px auto 0 329px;
}

.u-section-4 .u-image-2 {
  width: 127px;
  height: 127px;
  background-image: url("images/5a881c0b-0033-4401-be66-328806ba99b3.jpg");
  background-position: 50% 50%;
  margin: -43px auto 0 30px;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: -127px auto 0 175px;
}

.u-section-4 .u-image-3 {
  width: 127px;
  height: 127px;
  background-image: url("images/1649303121883.jfif");
  background-position: 50% 50%;
  margin: 160px auto 0 30px;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: -127px auto 0 175px;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  margin: 20px 32px 0 175px;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -119px auto 55px 329px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-icon-1 {
    margin-left: 248px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 272px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 7px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 109px;
    margin-left: 272px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-icon-1 {
    margin-left: 186px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 208px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 147px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 156px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 177px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -110px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -9px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 80px;
    margin-bottom: 0;
    margin-left: 156px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 90px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 90px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 90px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 98px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 110px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 263px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -95px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: -6px;
    margin-left: 98px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 353px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 52px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-5 .u-icon-1 {
  width: 86px;
  height: 86px;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-5 .u-icon-2 {
  width: 86px;
  height: 86px;
  margin: -86px auto 0 106px;
  padding: 0;
}

.u-section-5 .u-icon-3 {
  width: 86px;
  height: 86px;
  margin: -86px auto 0 211px;
  padding: 0;
}

.u-section-5 .u-icon-4 {
  width: 86px;
  height: 86px;
  margin: -86px auto 60px 317px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 261px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-icon-4 {
    margin-left: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-icon-3 {
    margin-left: 158px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 150px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 99px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 94px;
  }
}